// Start About
.about
    .container
        .about__title.text-center
            h2.about__title-head.f-p How it works
            h3.about__title-info.f-p
                | This app does everything you could possibly want it to do and not
                | only that, it is beautifully and designed and extremely intuitive to
                | use.
        .about__img
            img(src='images/brooke-cagle-JBwcenOuRCg-unsplash-colored-min.jpg' alt='')
            a.about-video.wow.bounceIn(data-fancybox='video' href='https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2019/01/Uncode-Shape-Dividers.mp4?12969')
                .about-icon
                    i.fa.fa-play
