// Start Achievements
.achievements
    .container
        .row.wow.fadeInLeft
            .col-lg-4
                .achievements-box
                    p.achievements-time.f-p March 25, 2017
                    h3.achievements-heading.f-p
                        | Officially reviewed among the top 10 of the App Store
                    p.achievements-text.f-p
                        | It is baffling to think back about how fast the online movie and
                        | TV streaming industry has come from near nothing to a big
                        | ballooning&mldr;
            .col-lg-4
                .achievements-box
                    p.achievements-time.f-p March 22, 2017
                    h3.achievements-heading.f-p
                        | Four tips for better collections in API development
                    p.achievements-text
                        | Whether your collections are for testing or documentation,
                        | collections are a way for humans to collaborate. A good
                        | collection clearly&mldr;
            .col-lg-4
                .achievements-box
                    p.achievements-time.f-p March 20, 2017
                    h3.achievements-heading.f-p
                        | Our App unifies enterprise cloud and web security
                    p.achievements-text
                        | Whilst incredible stories of financial gain and, more recently
                        | loss, have been attributed to cryptocurrencies, the real story
                        | behind crypto&mldr;
