// Start Portfolio
.portfolio
    .portfolio-box.owl-carousel.owl-theme
        a.portfolio__item(data-fancybox='slide' href='images/app-home-min.jpg').wow.bounceIn
            img(src='images/app-home-min.jpg')
            .portfolio-icon
                i.fas.fa-search
        a.portfolio__item(data-fancybox='slide' href='images/app-calendar-min.jpg').wow.bounceIn
            img(src='images/app-calendar-min.jpg')
            .portfolio-icon
                i.fas.fa-search
        a.portfolio__item(data-fancybox='slide' href='images/app-login-min.jpg').wow.bounceIn
            img(src='images/app-login-min.jpg')
            .portfolio-icon
                i.fas.fa-search
        a.portfolio__item(data-fancybox='slide' href='images/app-navigation-min.jpg').wow.bounceIn
            img(src='images/app-navigation-min.jpg')
            .portfolio-icon
                i.fas.fa-search
        a.portfolio__item(data-fancybox='slide' href='images/app-overview-min.jpg').wow.bounceIn
            img(src='images/app-overview-min.jpg')
            .portfolio-icon
                i.fas.fa-search
        a.portfolio__item(data-fancybox='slide' href='images/app-profile-min.jpg').wow.bounceIn
            img(src='images/app-overview-min.jpg')
            .portfolio-icon
                i.fas.fa-search
        a.portfolio__item(data-fancybox='slide' href='images/app-shop-min.jpg').wow.bounceIn
            img(src='images/app-overview-min.jpg')
            .portfolio-icon
                i.fas.fa-search
        a.portfolio__item(data-fancybox='slide' href='images/app-signup-min.jpg').wow.bounceIn
            img(src='images/app-overview-min.jpg')
            .portfolio-icon
                i.fas.fa-search
