// Start Service
.service
    .container.pd-60
        .row.wow.fadeInLeft(data-wow-delay="0.7s")
            .col-lg-3.col-md-6.col-sm-6
                .service__icon
                    svg#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%' height='100%' viewbox='0 0 64 64' style='enable-background: new 0 0 64 64' xml:space='preserve')
                        style(type='text/css').
                            .st0 {
                            fill: none;
                            stroke: #e9168c;
                            stroke-width: 2;
                            stroke-miterlimit: 10;
                            }
                        path.st0(d='M18,26.1L2,33l30,12l30-12l-16-6.9' style='stroke-dasharray: 100, 102; stroke-dashoffset: 0')
                        path.st0(d='M18,39.1L2,46l30,12l30-12l-16-6.9' style='stroke-dasharray: 100, 102; stroke-dashoffset: 0')
                        path.st0(d='M32,32l30-12L32,7L2,20L32,32z' style='stroke-dasharray: 131, 133; stroke-dashoffset: 0')
                h3.service__title.f-p Modular Design
                p.service__text.f-p
                    | Truly one of the most powerful and advanced grid. Truly one of the
                    | most powerful and advanced grid.
            .col-lg-3.col-md-6.col-sm-6
                .service__icon
                    svg#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%' height='100%' viewbox='0 0 64 64' style='enable-background: new 0 0 64 64' xml:space='preserve')
                        style(type='text/css').
                            .st0 {
                            fill: none;
                            stroke: #e9168c;
                            stroke-width: 2;
                            stroke-miterlimit: 10;
                            }
                            .st1 {
                            fill: none;
                            stroke: #e9168c;
                            stroke-width: 2;
                            stroke-linejoin: bevel;
                            stroke-miterlimit: 10;
                            }
                        path.st0(d='M16,1h32v62H16V1z' style='stroke-dasharray: 188, 190; stroke-dashoffset: 0')
                        path.st0(d='M28,5h8' style='stroke-dasharray: 8, 10; stroke-dashoffset: 0')
                        path.st0(d='M16,51h32 M16,9h32' style='stroke-dasharray: 64, 66; stroke-dashoffset: 0')
                        path.st1(d='M32,55c1.1,0,2,0.9,2,2s-0.9,2-2,2c-1.1,0-2-0.9-2-2S30.9,55,32,55z' style='stroke-dasharray: 13, 15; stroke-dashoffset: 0')
                h3.service__title.f-p Mobile Responsive
                p.service__text.f-p
                    | Uncode comes with pixel perfect &amp; clean design to satisfy any
                    | possible and impossible needs.
            .col-lg-3.col-md-6.col-sm-6
                .service__icon
                    svg#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%' height='100%' viewbox='0 0 64 64' style='enable-background: new 0 0 64 64' xml:space='preserve')
                        style(type='text/css').
                            .st0 {
                            fill: none;
                            stroke: #e9168c;
                            stroke-width: 2;
                            stroke-miterlimit: 10;
                            }
                        path.st0(d='M11,48C5.5,48,1,43.5,1,38s4.5-10,10-10h2v20H11z' style='stroke-dasharray: 56, 58; stroke-dashoffset: 0')
                        path.st0(d='M53,28c5.5,0,10,4.5,10,10s-4.5,10-10,10h-2V28H53z' style='stroke-dasharray: 56, 58; stroke-dashoffset: 0')
                        path.st0(d='M13,31v-9c0,0,0-16,19-16s19,16,19,16v6' style='stroke-dasharray: 71, 73; stroke-dashoffset: 0')
                        path.st0(d='M51,48v5l-15,6h-8v-4h8v3' style='stroke-dasharray: 45, 47; stroke-dashoffset: 0')
                h3.service__title.f-p Top Performance
                p.service__text.f-p
                    | Automatically adapt and set your images sizes for best quality on
                    | all devices and resolutions.
            .col-lg-3.col-md-6.col-sm-6
                .service__icon
                    svg#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%' height='100%' viewbox='0 0 64 64' style='enable-background: new 0 0 64 64' xml:space='preserve')
                        style(type='text/css').
                            .st0 {
                            fill: none;
                            stroke: #e9168c;
                            stroke-width: 2;
                            stroke-miterlimit: 10;
                            }
                        path.st0(d='M32,0.9c17.2,0,31.1,13.9,31.1,31.1c0,17.2-13.9,31.1-31.1,31.1C14.8,63.1,0.9,49.2,0.9,32\
                        C0.9,14.8,14.8,0.9,32,0.9z' style='stroke-dasharray: 196, 198; stroke-dashoffset: 0')
                        path.st0(d='M10,32c0-5.6,2.1-11.3,6.4-15.6c8.6-8.6,22.5-8.6,31.1,0C51.9,20.7,54,26.4,54,32' style='stroke-dasharray: 70, 72; stroke-dashoffset: 0')
                        path.st0(d='M24,26l6.3,7.3 M32,33c1.1,0,2,0.9,2,2s-0.9,2-2,2c-1.1,0-2-0.9-2-2S30.9,33,32,33z' style='stroke-dasharray: 23, 25; stroke-dashoffset: 0')
                h3.service__title.f-p Power Support
                p.service__text.f-p
                    | A perfect responsive theme powered with selective options for
                    | different screen and monitors.
    .service__wave
        svg.uncode-row-divider.uncode-row-divider-swoosh-opacity(version='1.1' x='0px' y='0px' width='240px' height='24px' viewbox='0 0 240 24' enable-background='new 0 0 240 24' xml:space='preserve' preserveaspectratio='none')
            path(fill='#1b1d1f' fill-opacity='0.33' d='M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08 c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z')
            path(fill='#1b1d1f' fill-opacity='0.33' d='M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16 c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240 z')
            path(fill='#1b1d1f' d='M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17 c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z')
