/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */
/*========= 1, Reset =========*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px; }
  *::selection {
    color: #fff;
    background: #e9168c; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

ul,
li {
  list-style: none; }

img {
  display: block;
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

.f-r {
  font-family: "x8mv5kd2", Roboto, Sans-Serif; }

.f-p {
  font-family: Poppins; }

input {
  display: block;
  font-size: 14px;
  line-height: initial;
  margin: 0;
  padding: 10px 15px 10px 15px;
  border-style: solid;
  border-radius: 2px;
  font-weight: 400; }

body {
  font-family: "x8mv5kd2", Roboto, Sans-Serif; }

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-3px, 3px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

.pt-20 {
  padding-top: 20px; }

/*============ 2, Header =============*/
.collapse {
  animation: collapse 0.5s ease forwards; }

.open {
  animation: open 0.5s ease forwards; }

@keyframes collapse {
  from {
    opacity: 1;
    top: 0; }
  to {
    opacity: 0; } }

@keyframes open {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    top: 0; } }

.header {
  position: fixed;
  left: 0;
  z-index: 99;
  padding: 36px 36px; }
  .header.color {
    background: #fff; }
    .header.color.color .header__top-logo {
      color: #000; }
    .header.color.color .header-button .bar1 {
      background: #000;
      width: 20px; }
    .header.color.color .header-button .bar2 {
      background: #000;
      width: 20px; }
    .header.color.color .header-button .bar3 {
      background: #000;
      width: 20px; }
  @media only screen and (max-width: 768px) {
    .header {
      padding: 10px 27px; } }
  @media only screen and (max-width: 576px) {
    .header {
      padding: 10px 20px; } }
  .header.record {
    background: #fff; }
    @media only screen and (max-width: 768px) {
      .header.record {
        padding: 20px 36px; } }
    .header.record.record .header__top-logo {
      color: #000; }
    .header.record.record .items-link {
      color: #000; }
    .header.record.record .header-button .bar1 {
      background: #000;
      width: 20px; }
    .header.record.record .header-button .bar2 {
      background: #000;
      width: 20px; }
    .header.record.record .header-button .bar3 {
      background: #000;
      width: 20px; }
    .header.record.record .icon__item {
      color: #000; }
  .header__top {
    justify-content: space-between; }
    @media only screen and (min-width: 992px) {
      .header__top {
        position: relative; } }
    .header__top-logo {
      font-size: 19px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #fff; }
      .header__top-logo:hover {
        color: #fff; }
    .header__top-list {
      margin-bottom: 0;
      display: flex; }
      @media only screen and (max-width: 768px) {
        .header__top-list {
          display: none; } }
      .header__top-list .list-items {
        margin-left: 30px; }
        .header__top-list .list-items:hover .menu {
          display: block; }
        .header__top-list .list-items:hover .menu-extra {
          display: block; }
        .header__top-list .list-items:hover .menu-shop {
          display: block; }
        .header__top-list .list-items .extra {
          position: relative; }
        .header__top-list .list-items .items-link {
          color: #fff;
          font-size: 12px;
          font-family: Poppins, sans-serif;
          font-weight: 1000;
          text-transform: uppercase; }
        .header__top-list .list-items .menu {
          display: none;
          position: absolute;
          width: 100%;
          left: 0;
          padding-top: 20px;
          text-align: left; }
          .header__top-list .list-items .menu .menu-drop {
            display: flex;
            background: #1d1b1f;
            width: 100%;
            white-space: nowrap;
            padding: 27px 0; }
            .header__top-list .list-items .menu .menu-drop .menu-list {
              padding: 0 27px;
              width: 25%; }
              .header__top-list .list-items .menu .menu-drop .menu-list .list-text {
                padding: 9px 9px 20px 9px;
                color: #fff;
                text-transform: uppercase;
                font-size: 12px;
                font-family: Poppins, sans-serif;
                font-weight: 400; }
              .header__top-list .list-items .menu .menu-drop .menu-list .menu-box {
                padding-top: 15px; }
                .header__top-list .list-items .menu .menu-drop .menu-list .menu-box .box-items-text {
                  padding: 5px 9px 5px 9px;
                  color: #fff;
                  font-size: 12px;
                  font-family: Poppins, sans-serif;
                  line-height: normal;
                  letter-spacing: 0px;
                  display: block;
                  white-space: nowrap; }
                  .header__top-list .list-items .menu .menu-drop .menu-list .menu-box .box-items-text:hover {
                    background: #1d1b1f; }
            .header__top-list .list-items .menu .menu-drop .border-left {
              border-left: 1px solid rgba(255, 255, 255, 0.5); }
        .header__top-list .list-items .menu-extra {
          display: none;
          position: absolute;
          width: 25%;
          padding-top: 32px;
          text-align: left; }
          .header__top-list .list-items .menu-extra .menu-drop {
            display: flex;
            background: #1d1b1f;
            width: 100%;
            white-space: nowrap;
            padding: 27px 0; }
            .header__top-list .list-items .menu-extra .menu-drop .menu-list {
              padding: 0 27px;
              width: 100%; }
              .header__top-list .list-items .menu-extra .menu-drop .menu-list .list-text {
                padding: 9px 9px 20px 9px;
                color: #fff;
                text-transform: uppercase;
                font-size: 12px;
                font-family: Poppins, sans-serif;
                font-weight: 400; }
              .header__top-list .list-items .menu-extra .menu-drop .menu-list .menu-box {
                padding-top: 15px; }
                .header__top-list .list-items .menu-extra .menu-drop .menu-list .menu-box .box-items-text {
                  padding: 5px 9px 5px 9px;
                  color: #fff;
                  font-size: 12px;
                  font-family: Poppins, sans-serif;
                  line-height: normal;
                  letter-spacing: 0px;
                  display: block;
                  white-space: nowrap; }
                  .header__top-list .list-items .menu-extra .menu-drop .menu-list .menu-box .box-items-text:hover {
                    background: #1d1b1f; }
              .header__top-list .list-items .menu-extra .menu-drop .menu-list .border-left {
                border-left: 1px solid rgba(255, 255, 255, 0.5); }
    .header__top .header-button {
      padding: 0.75rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      line-height: 1;
      display: none; }
      @media only screen and (max-width: 768px) {
        .header__top .header-button {
          display: block; } }
    @media only screen and (max-width: 768px) {
      .header__top .header-icon {
        display: none; } }
    .header__top .header-icon > a:hover {
      color: #ffffff80; }
    .header__top .header-icon .icon__item {
      color: #fff;
      padding: 0 9px;
      font-size: 12px; }
    .header__top-list-mobile {
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      overflow: hidden;
      max-height: 0;
      text-align: center; }
      .header__top-list-mobile .mobile__item-link {
        font-size: 34.56px;
        font-weight: 600;
        font-family: Poppins;
        color: #fff; }
        .header__top-list-mobile .mobile__item-link > i {
          font-size: 25px;
          margin-right: 20px;
          margin-left: 20px;
          margin-bottom: 20px; }
        .header__top-list-mobile .mobile__item-link:focus {
          color: rgba(255, 255, 255, 0.5); }
      .header__top-list-mobile.show {
        max-height: 100vh;
        background: #1b1d1f;
        padding-top: 30px; }
      @media only screen and (max-width: 768px) {
        .header__top-list-mobile {
          opacity: 1;
          visibility: visible; } }
    .header__top .mobile__item-subMenu {
      overflow: hidden;
      max-height: 0;
      transition: 0.5s;
      text-align: center;
      overflow: hidden; }
      .header__top .mobile__item-subMenu .subMenu__item-link {
        font-size: 34.56px;
        font-weight: 600;
        font-family: Poppins;
        color: #fff; }
      .header__top .mobile__item-subMenu.showSub {
        max-height: 100vh; }

/*================== 10, Footer ================== */
.footer {
  padding: 72px 36px;
  position: relative;
  background-color: #1b1d1f; }
  @media only screen and (max-width: 576px) {
    .footer {
      display: none; } }
  .footer__title {
    font-size: 14.07px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-bottom: 27px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600; }
  .footer__text-np {
    font-size: 14.07px;
    color: #fff;
    font-weight: 400;
    line-height: 1.75; }
    @media only screen and (max-width: 768px) {
      .footer__text-np {
        font-size: 13px; } }
  .footer__text {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    line-height: 1.75; }
    .footer__text:hover {
      color: #e9168c; }
    @media only screen and (max-width: 768px) {
      .footer__text {
        font-size: 13px; } }
  .footer .footer__time {
    color: #fff;
    font-size: 11px; }
  .footer__tags .tags-item {
    font-size: 11px;
    color: #fff;
    padding: 2px 5px 2px 5px;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0.25);
    margin: 0 5px 9px 0;
    text-transform: uppercase;
    font-weight: 500; }
    .footer__tags .tags-item:hover {
      color: #e9168c; }

/*================ 3, Banner ================*/
.banner {
  background-image: linear-gradient(to left, rgba(100, 66, 255, 0.7) 0%, rgba(144, 18, 254, 0.7) 100%), url(../images/rawpixel-com-594859-unsplash-min-uai-1440x959.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  padding-top: 140px;
  padding-left: 36px;
  padding-right: 36px;
  transition: opacity 0.5s;
  transition-delay: 0.2s; }
  @media only screen and (max-width: 768px) {
    .banner {
      padding-bottom: 72px;
      padding-top: 72px; } }
  @media only screen and (max-width: 425px) {
    .banner {
      padding-bottom: 0; } }
  @media only screen and (max-width: 375px) {
    .banner {
      padding-top: 72px; } }
  @media only screen and (max-width: 320px) {
    .banner {
      padding-bottom: 0; } }
  .banner__left {
    padding: 0; }
    .banner__left-title {
      display: block;
      font-weight: 700;
      letter-spacing: -0.05em;
      font-size: 77px;
      line-height: 1.2;
      margin: 27px 0 0;
      text-align: left;
      font-family: Poppins;
      margin-bottom: 20px; }
      @media only screen and (max-width: 768px) {
        .banner__left-title {
          font-size: 50px; } }
      @media only screen and (max-width: 425px) {
        .banner__left-title {
          font-size: 35px;
          text-align: center;
          margin-bottom: 20px; } }
      @media only screen and (max-width: 320px) {
        .banner__left-title {
          font-size: 28px;
          text-align: center; } }
    .banner__left-text {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.75;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 0;
      margin-bottom: 36px; }
      @media only screen and (max-width: 425px) {
        .banner__left-text {
          text-align: center; } }
      @media only screen and (max-width: 320px) {
        .banner__left-text {
          font-weight: 400;
          text-align: center; } }
  .banner__button {
    padding-left: 0;
    padding-right: 9px;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 0px;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .banner__button {
        padding-left: 0;
        padding-right: 0; } }
    @media only screen and (max-width: 576px) {
      .banner__button {
        padding-left: 9px;
        margin: 0; } }
    @media only screen and (max-width: 425px) {
      .banner__button {
        text-align: center; } }
    .banner__button-left {
      min-width: 140px;
      font-weight: 700;
      text-transform: initial;
      border-width: 1px;
      letter-spacing: -0.02em;
      background-color: #e9168c;
      border-color: #e9168c;
      font-size: 15px;
      padding: 14px 40px;
      display: inline-block;
      text-align: center;
      margin-top: 1px;
      margin-bottom: 1px;
      cursor: pointer;
      border-style: solid;
      border-radius: 2px;
      outline: none;
      white-space: pre-wrap;
      vertical-align: middle;
      margin-right: 9px; }
      .banner__button-left:hover {
        background-color: #dc097f;
        border-color: #dc097f; }
      @media only screen and (max-width: 425px) {
        .banner__button-left {
          margin-right: 20px;
          margin-bottom: 20px;
          font-size: 11px; } }
    .banner__button-right {
      min-width: 140px;
      font-weight: 700;
      text-transform: initial;
      border-width: 1px;
      letter-spacing: -0.02em;
      color: #303133;
      background-color: #fff;
      border-color: #fff;
      font-size: 15px;
      padding: 14px 40px;
      display: inline-block;
      text-align: center;
      margin-top: 1px;
      margin-bottom: 1px;
      cursor: pointer;
      border-style: solid;
      border-radius: 2px;
      outline: none;
      white-space: pre-wrap;
      vertical-align: middle;
      margin-left: 9px; }
      .banner__button-right:hover {
        color: #ffffff;
        background-color: transparent;
        border-color: #ffffff; }
      @media only screen and (max-width: 425px) {
        .banner__button-right {
          margin-bottom: 20px;
          margin-right: 20px;
          margin-left: 0;
          font-size: 11px; } }
  .banner__right {
    padding-left: 36px;
    align-items: flex-end;
    margin-top: 30px; }
    .banner__right .img-first {
      display: block; }
      @media only screen and (max-width: 575px) {
        .banner__right .img-first {
          display: none; } }
    .banner__right .img-last {
      display: none; }
      @media only screen and (max-width: 575px) {
        .banner__right .img-last {
          display: block;
          width: 100%; } }
  .banner__wave {
    left: 0;
    position: absolute;
    bottom: 0;
    z-index: 3; }
    .banner__wave > svg {
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 289px;
      bottom: 0; }
      @media only screen and (max-width: 768px) {
        .banner__wave > svg {
          height: 200px; } }
      @media only screen and (max-width: 576px) {
        .banner__wave > svg {
          height: 180px; } }
      @media only screen and (max-width: 375px) {
        .banner__wave > svg {
          height: 120px; } }
      @media only screen and (max-width: 320px) {
        .banner__wave > svg {
          height: 100px; } }

/*================== 4, Service ================== */
.service {
  margin-top: 72px; }
  .service .pd-60 {
    padding-bottom: 0; }
    @media only screen and (max-width: 768px) {
      .service .pd-60 {
        padding-bottom: 72px; } }
  .service__icon {
    margin-top: 18px;
    display: inline-block;
    width: 64px; }
    .service__icon > svg {
      font-size: 15px; }
  .service__title {
    margin-top: 27px;
    font-size: 20px;
    color: #303133;
    letter-spacing: -0.02em;
    line-height: 1.5em;
    font-weight: 700;
    text-align: left; }
  .service__text {
    font-size: 15px;
    line-height: 1.75;
    margin-top: 18px;
    text-align: left;
    font-weight: 400;
    color: #777; }
  .service__wave {
    width: 100%;
    left: 0;
    position: relative;
    z-index: 0;
    margin-top: 200px; }
    .service__wave > svg {
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 260px;
      bottom: 0; }
      @media only screen and (max-width: 768px) {
        .service__wave > svg {
          height: 200px; } }
      @media only screen and (max-width: 375px) {
        .service__wave > svg {
          height: 120px; } }
      @media only screen and (max-width: 320px) {
        .service__wave > svg {
          height: 100px; } }

/*================== 5, Portfolio ================== */
.portfolio {
  background: #1b1d1f;
  padding-bottom: 50px;
  padding-top: 0; }
  @media only screen and (max-width: 768px) {
    .portfolio {
      padding-bottom: 0; } }
  .portfolio-box {
    transform: translateY(-80px); }
  .portfolio__item {
    display: block;
    position: relative; }
    .portfolio__item > a {
      border-radius: 4px;
      box-shadow: 0 55px 80px -40px #000;
      display: block;
      width: 100%; }
    .portfolio__item .portfolio-icon {
      position: absolute;
      top: 0;
      color: transparent;
      cursor: pointer;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px; }
      .portfolio__item .portfolio-icon:hover {
        color: white;
        background-color: rgba(233, 22, 140, 0.9);
        border-radius: 4px; }

/*================== 6, About ================== */
.about {
  padding: 108px 36px 108px 36px; }
  .about__title {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto; }
    .about__title-head {
      font-size: 35px;
      line-height: 1.5;
      margin-bottom: 15px;
      font-weight: 700;
      color: #303133;
      letter-spacing: -0.05em; }
    .about__title-info {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.75;
      margin-bottom: 45px;
      color: #777;
      fill: #777777; }
      @media only screen and (max-width: 768px) {
        .about__title-info {
          font-size: 17px;
          font-weight: 400; } }
      @media only screen and (max-width: 576px) {
        .about__title-info {
          margin: 0;
          margin-bottom: 30px;
          font-size: 16px; } }
  .about__img {
    display: block;
    position: relative; }
    @media only screen and (max-width: 576px) {
      .about__img {
        margin: auto; } }
    .about__img > img {
      display: block;
      max-width: 100%;
      border-radius: 4px;
      box-shadow: 0 55px 80px -40px rgba(0, 0, 0, 0.45);
      margin-left: auto;
      margin-right: auto; }
    .about__img .about-video {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      width: 5.5em;
      height: 5.5em;
      border-radius: 5.5em;
      box-shadow: 0 0 0 0.45em rgba(255, 255, 255, 0.1);
      text-align: center;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1); }
      .about__img .about-video:hover {
        background-color: white;
        color: #303133;
        width: 6.5em;
        height: 6.5em;
        border-radius: 6.5em;
        box-shadow: 0 0 0 0.65em rgba(255, 255, 255, 0.3); }
      @media only screen and (max-width: 320px) {
        .about__img .about-video {
          width: 3.5em;
          height: 3.5em;
          border-radius: 3.5em;
          box-shadow: 0 0 0 0.35em rgba(255, 255, 255, 0.1); } }
      .about__img .about-video .about-icon {
        color: #303133;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; }
        .about__img .about-video .about-icon > i {
          font-size: 25px;
          font-weight: 900;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1; }
          @media only screen and (max-width: 320px) {
            .about__img .about-video .about-icon > i {
              font-size: 20px; } }

/*================== 7, Contact ================== */
.contact {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  table-layout: fixed;
  background-image: linear-gradient(to left, rgba(100, 66, 255, 0.7) 0%, rgba(144, 18, 254, 0.7) 100%), url(https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2015/10/rawpixel-com-594859-unsplash-min.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }
  .contact__wave {
    width: 100%;
    left: 0;
    transform: scaleY(-1);
    height: 260px; }
    @media only screen and (max-width: 768px) {
      .contact__wave {
        height: 190px; } }
    @media only screen and (max-width: 320px) {
      .contact__wave {
        height: 125px; } }
    .contact__wave > svg {
      position: absolute;
      width: 100%;
      left: 50%;
      height: 260px;
      transform: translateX(-50%);
      bottom: 0; }
      @media only screen and (max-width: 768px) {
        .contact__wave > svg {
          height: 200px; } }
      @media only screen and (max-width: 375px) {
        .contact__wave > svg {
          height: 120px; } }
      @media only screen and (max-width: 320px) {
        .contact__wave > svg {
          height: 100px; } }
    .contact__wave-last {
      height: 260px;
      width: 100%;
      left: 0;
      transform: scaleX(-1) translateZ(0);
      bottom: 0; }
      @media only screen and (max-width: 768px) {
        .contact__wave-last {
          height: 200px; } }
      @media only screen and (max-width: 320px) {
        .contact__wave-last {
          height: 125px; } }
      .contact__wave-last > svg {
        position: absolute;
        height: 260px;
        width: 100%;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%); }
        @media only screen and (max-width: 768px) {
          .contact__wave-last > svg {
            height: 200px; } }
        @media only screen and (max-width: 375px) {
          .contact__wave-last > svg {
            height: 120px; } }
        @media only screen and (max-width: 320px) {
          .contact__wave-last > svg {
            height: 100px; } }
  .contact-row {
    padding: 0 36px; }
  .contact .mt {
    margin-top: 48px;
    display: block; }
    @media only screen and (min-width: 400px) {
      .contact .mt {
        display: flex; } }
  .contact .mx-auto {
    margin-right: auto;
    margin-left: auto; }
  .contact__title-heading {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-transform: uppercase; }
  .contact__title-text {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 18px;
    font-weight: 700; }
    @media only screen and (min-width: 400px) {
      .contact__title-text {
        font-size: 35px; } }
  .contact__form {
    margin-top: 16px; }
    .contact__form input.form-contact {
      width: 100%;
      border: 1px solid transparent; }
      .contact__form input.form-contact:focus {
        outline: none;
        border: 1px solid #e9168c; }
      .contact__form input.form-contact::placeholder {
        color: #a9a9a9;
        font-family: Poppins; }
  .contact__button {
    margin: 48px 0 0 0; }
    .contact__button > span {
      display: block;
      text-align: center;
      padding: 0;
      margin: 15px 0; }
      @media only screen and (min-width: 576px) {
        .contact__button > span {
          display: inline-block;
          padding-left: 9px;
          padding-right: 9px;
          margin: 0; } }
      .contact__button > span .button-info {
        font-size: 18px;
        display: inline-block;
        border-radius: 2px;
        border-style: solid;
        outline: none;
        cursor: pointer;
        font-weight: 700;
        background-color: #e9168c;
        border-color: #e9168c;
        text-transform: uppercase;
        padding: 14px 40px; }
        .contact__button > span .button-info:hover {
          background-color: #dc097f;
          border-color: #dc097f; }
        @media only screen and (max-width: 576px) {
          .contact__button > span .button-info {
            padding: 13px 30px;
            font-size: 13px; } }
        @media only screen and (max-width: 320px) {
          .contact__button > span .button-info {
            padding: 10px 20px;
            font-size: 13px; } }

/*================== 8, Achievements ================== */
.achievements {
  padding: 72px 36px;
  position: relative;
  z-index: 3;
  background-color: white; }
  .achievements-box {
    margin-bottom: 50px;
    padding: 0;
    text-align: center;
    padding-right: 72px; }
    @media only screen and (max-width: 576px) {
      .achievements-box {
        padding-right: 0px; } }
    .achievements-box .achievements-time {
      color: #303133;
      margin: 9px 0 0 0;
      font-size: 12px;
      line-height: 1.75;
      font-weight: 600;
      text-align: left; }
    .achievements-box .achievements-heading {
      color: #303133;
      font-weight: 700;
      margin: 9px 0 0 0;
      word-break: break-word;
      font-size: 29px;
      letter-spacing: -0.05em;
      line-height: 1.2;
      text-align: left; }
      .achievements-box .achievements-heading:hover {
        color: #e9168c; }
    .achievements-box .achievements-text {
      color: #777;
      margin-top: 0;
      font-size: 15px;
      line-height: 1.75;
      margin: 18px 0 0;
      text-align: left; }

/*================== 9, Brand ================== */
.brand {
  background-color: #f7f7f7;
  padding: 72px 36px;
  position: relative; }

/*================== 11, Link ================== */
.link {
  background-color: #141618;
  padding-top: 108px;
  padding-bottom: 108px; }
  .link-icon {
    padding-right: 25px; }
    .link-icon > i {
      font-size: 16px;
      color: #fff; }
      .link-icon > i:hover {
        color: #e9168c; }
