// start Footer
.footer
    .container
        .row
            .col-lg-3.col-4
                h3.footer__title.text-white.f-p ABOUT US
                p.footer__text-np.f-r
                    | We design and develop themes for customers of all sizes,
                    | specialising in creating beautiful, modern websites, web
                    | portfolios and e-commerce stores. Daily we create amazing
                    | websites.
            .col-lg-3.col-4
                h3.footer__title.text-white.f-p LATEST NEWS
                ul
                    li
                        a.footer__text.f-r(href='#') Officially reviewed among the top 10 of the App Store
                        br
                        span.footer__time.f-r March 25, 2017
                    li
                        a.footer__text.f-r(href='#') Four tips for better collections in API development
                        br
                        span.footer__time.f-r March 22, 2017
                    li
                        a.footer__text.f-r(href='#') Our App unifies enterprise cloud and web security
                        br
                        span.footer__time.f-r March 20, 2017
            .col-lg-3.col-4.d-n
                h3.footer__title.text-white.f-p RECOMMENDED POSTS
                ul
                    li
                        a.footer__text.f-r(href='#') Top Deejay headphones
                    li
                        a.footer__text.f-r(href='#') Trust in your intuitions
                    li
                        a.footer__text.f-r(href='#') Inspired by clouds
                    li
                        a.footer__text.f-r(href='#') Awwwards best websites
                    li
                        a.footer__text.f-r(href='#') Calm over the horizon
                    li
                        a.footer__text.f-r(href='#') Working from your home?
            .col-lg-3.col-4
                h3.footer__title.text-white.f-p TAGS
                .footer__tags
                    a.tags-item.f-r(href='#') Design
                    a.tags-item.f-r(href='#') Enjoy
                    a.tags-item.f-r(href='#') Holiday
                    a.tags-item.f-r(href='#') Life
                    a.tags-item.f-r(href='#') Music
                    a.tags-item.f-r(href='#') Simple
                    a.tags-item.f-r(href='#') Sport
                    a.tags-item.f-r(href='#') Style
                    a.tags-item.f-r(href='#') Tech
                    a.tags-item.f-r(href='#') Travel
                    a.tags-item.f-r(href='#') Trip
.link
    .container.text-center
        a.link-icon(href='#')
            i.fab.fa-facebook-f
        a.link-icon(href='#')
            i.fab.fa-twitter
        a.link-icon(href='#')
            i.fab.fa-pinterest-p
        a.link-icon(href='#')
            i.fab.fa-dribbble
        a.link-icon(href='#')
            i.fab.fa-linkedin-in
